/**
 * [transition 动画效果]
 * @param  @t_pto:     all           [属性]
 * @param  @runTime:   0.5s          [运行时间]
 * @param  @deleyTime: 0s            [延迟时间]
 * @param  @runFun:    ease;         [运行方式]
 */
/**
 * a标签hover样式
 * @font_color: 字体颜色
 * @ahover_darken: 字体hover颜色加深百分比
 */
/* 
 * 通用按钮hover
 * @bg_color: 按钮颜色
 * @hover_darken: 按钮hover颜色加深百分比
 */
/* 
 * 通用按钮样式
 * @bg_color: 按钮颜色 默认#6fd1de（浅蓝色）
 * @padding_tb: 按钮padding-top padding-bottom
 * @padding_lr: 按钮padding-left padding-right
 * @hover_darken: 按钮hover颜色加深百分比
 */
#login {
  padding-bottom: 50px;
}
#login .login-header {
  background: #f3f6f8;
  width: 100%;
  height: 40px;
}
#login .login-header h2 {
  font-size: 18px;
  font-family: 'Microsoft YaHei';
  color: #697886;
  line-height: 40px;
  padding-left: 20px;
}
#login .pageLogin-content {
  width: 100%;
  border-bottom: 1px solid #e8ecef;
  padding-bottom: 25px;
}
#login .pageLogin-content .center {
  width: 499px;
  padding-top: 30px;
  margin: 0 auto;
}
#login .pageLogin-content .center dl dd {
  margin-bottom: 10px;
  position: relative;
}
#login .pageLogin-content .center dl dd .pageLogin-title {
  display: inline-block;
  float: left;
  text-align: right;
  width: 125px;
  height: 40px;
  line-height: 40px;
  *line-height: 40px;
  padding-right: 20px;
  color: #263241;
}
#login .pageLogin-content .center dl dd input {
  border: 1px solid #c9ced2;
  height: 20px;
  padding: 9px;
  font-size: 14px;
  width: 295px;
  float: left;
}
#login .pageLogin-content .center dl dd .tip {
  height: 25px;
  line-height: 25px;
  *line-height: 15px;
  padding-left: 146px;
  width: 320px;
  font-size: 13px;
  margin-top: 5px;
  color: #999999;
  float: left;
}
#login .pageLogin-content .center dl dd .tip.red {
  color: red;
}
#login .pageLogin-content .center dl dd .right-mark {
  height: 15px;
  width: 21px;
  display: block;
  background: url('/static/index/static/image/right.png?__sprite');
  position: absolute;
  top: 15px;
  right: 45px;
}
#login .pageLogin-content .center dl dd .code-mark {
  top: 15px;
  left: 265px;
}
#login .pageLogin-content .center dl dd #pageLogin-code {
  width: 125px;
}
#login .pageLogin-content .center dl dd .code {
  border: 1px solid #c9ced2;
  height: 20px;
  margin-left: 25px;
  padding: 12px;
  font-size: 14px;
  width: 120px;
  float: left;
}
#login .pageLogin-content .center dl .none {
  display: none;
}
#login .regbtn-wrap {
  text-align: center;
  margin-top: 20px;
}
#login .regbtn-wrap .remember {
  width: 499px;
  margin: 0 auto;
  font-size: 13px;
}
#login .regbtn-wrap .remember input {
  float: left;
  margin: 0 5px 0 145px;
}
#login .regbtn-wrap .remember label {
  float: left;
}
#login .regbtn-wrap .remember a {
  color: #2db2fc;
  float: right;
  margin-right: 37px;
}
#login .regbtn-wrap .btn {
  width: 499px;
  margin: 0 auto;
}
#login .regbtn-wrap .btn #pageLogin-submit {
  float: left;
  margin-top: 15px;
  margin-left: 145px;
  display: block;
  text-align: center;
  background: #fa8a2f;
  width: 315px;
  padding: 14px 0;
  color: #fff;
  font-size: 16px;
}
#login .regbtn-wrap .btn #pageLogin-submit:hover {
  background: #f78122;
}
