#order_trace_sidebar {
  width: 245px;
  position: relative;
  left: 0px;
  top: 0px;
  float: left;
}
#order_trace_sidebar ul {
  width: 100%;
}
#order_trace_sidebar ul li {
  width: 100%;
  position: relative;
  border: 1px solid #F0F4F7;
  border-radius: 4px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#order_trace_sidebar ul li a {
  position: relative;
  display: block;
  width: 100%;
}
#order_trace_sidebar ul li a .sequenced {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #F0F4F7;
  color: #929EAA;
  border-radius: 4px 0 0 0;
}
#order_trace_sidebar ul li a .status {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 47px;
  line-height: 47px;
  color: #929EAA;
  background-color: #F0F4F7;
  border-radius: 6px;
  text-align: center;
  box-shadow: 1px 0 0 #e4e4e4;
  margin-top: -10px;
}
#order_trace_sidebar ul li a .info .item {
  height: 40px;
  line-height: 40px;
  color: #929EAA;
}
#order_trace_sidebar ul li a .info .item label {
  float: left;
  display: inline-block;
  width: 80px;
  text-align: right;
}
#order_trace_sidebar ul li a .info .item span {
  display: block;
  float: left;
  line-height: 40px;
  max-width: 150px;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#order_trace_sidebar ul li:hover {
  border: 1px solid #F06700;
}
#order_trace_sidebar ul li.active {
  background-color: #84D0DF;
  border: 0px;
  box-shadow: 3px 4px 1px rgba(0, 0, 0, 0.1);
}
#order_trace_sidebar ul li.active .sequenced {
  color: #F06700;
}
#order_trace_sidebar ul li.active .status {
  background-color: #FCF9E0;
  color: #F06700;
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.1);
}
#order_trace_sidebar ul li.active .info .item {
  color: #fff;
}
