/**
 * [transition 动画效果]
 * @param  @t_pto:     all           [属性]
 * @param  @runTime:   0.5s          [运行时间]
 * @param  @deleyTime: 0s            [延迟时间]
 * @param  @runFun:    ease;         [运行方式]
 */
/**
 * a标签hover样式
 * @font_color: 字体颜色
 * @ahover_darken: 字体hover颜色加深百分比
 */
/* 
 * 通用按钮hover
 * @bg_color: 按钮颜色
 * @hover_darken: 按钮hover颜色加深百分比
 */
/* 
 * 通用按钮样式
 * @bg_color: 按钮颜色 默认#6fd1de（浅蓝色）
 * @padding_tb: 按钮padding-top padding-bottom
 * @padding_lr: 按钮padding-left padding-right
 * @hover_darken: 按钮hover颜色加深百分比
 */
.boxInfo-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 40px;
  background-color: #fff;
}
.boxInfo-wrapper h3 {
  height: 80px;
  line-height: 80px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Microsoft YaHei';
}
.boxInfo-wrapper table {
  width: 100%;
  border: 1px solid #f7f7f7;
}
.boxInfo-wrapper table tr,
.boxInfo-wrapper table th,
.boxInfo-wrapper table td {
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}
.boxInfo-wrapper table thead {
  background: #f7f7f7;
}
.boxInfo-wrapper table thead tr {
  border: 1px solid #e7ecec;
}
.boxInfo-wrapper table thead tr th {
  font-weight: normal;
  font-size: 14px;
  line-height: 48px;
  height: 48px;
  color: #919fab;
}
.boxInfo-wrapper table tbody tr td {
  font-size: 14px;
  color: #263241;
  padding: 10px;
  border: 1px solid #e7ecec;
}
.boxInfo-wrapper table tbody tr .address-details ul {
  border-bottom: 1px dotted #e4e4e4;
}
.boxInfo-wrapper table tbody tr .address-details ul.last {
  border-bottom: 0px;
}
.boxInfo-wrapper table tbody tr .address-details .address-content {
  float: left;
  width: 70%;
}
.boxInfo-wrapper table tbody tr .address-details .address-content .address {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 25px;
}
.boxInfo-wrapper table tbody tr .address-details .address-content .time {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 25px;
}
.boxInfo-wrapper table tbody tr .address-details a.complete {
  float: left;
  margin-left: 0px;
  display: block;
  font-size: 13px;
  background-color: #FE6600;
  color: #fff;
  padding: 0 10px;
  border-radius: 4px;
  margin-top: 15px;
}
.boxInfo-wrapper table tbody tr .address-details span.complete {
  float: left;
  margin-left: 0px;
  display: block;
  font-size: 13px;
  color: #fff;
  padding: 0 10px;
  color: #919fab;
  margin-top: 15px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}
.boxInfo-wrapper table tbody tr .funcs .status-box {
  font-size: 13px;
  min-width: 70px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 30px;
}
.boxInfo-wrapper table tbody tr .funcs .status-box a {
  display: inline-block;
  width: 21px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  line-height: 30px;
}
.boxInfo-wrapper table tbody tr .funcs .status-box .icon-status-message {
  display: block;
  background: url('/static/order/static/image/icon-message.png?__sprite');
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  cursor: pointer;
  margin-top: 12px;
}
.boxInfo-wrapper table tbody tr .funcs .add-ensupe,
.boxInfo-wrapper table tbody tr .funcs .edit-ensupe,
.boxInfo-wrapper table tbody tr .funcs .add-assign,
.boxInfo-wrapper table tbody tr .funcs .edit-assign,
.boxInfo-wrapper table tbody tr .funcs .print {
  display: inline-block;
  font-size: 13px;
  color: #2983cf;
}
.boxInfo-wrapper table tbody tr .funcs .add-ensupe:hover,
.boxInfo-wrapper table tbody tr .funcs .edit-ensupe:hover,
.boxInfo-wrapper table tbody tr .funcs .add-assign:hover,
.boxInfo-wrapper table tbody tr .funcs .edit-assign:hover,
.boxInfo-wrapper table tbody tr .funcs .print:hover {
  color: #3a8fd8;
}
.boxInfo-wrapper table tbody tr .funcs .add-ensupe.disable,
.boxInfo-wrapper table tbody tr .funcs .edit-ensupe.disable,
.boxInfo-wrapper table tbody tr .funcs .add-assign.disable,
.boxInfo-wrapper table tbody tr .funcs .edit-assign.disable,
.boxInfo-wrapper table tbody tr .funcs .print.disable {
  color: #919fab;
}
.boxInfo-wrapper table tbody tr .funcs .add-ensupe.disable:hover,
.boxInfo-wrapper table tbody tr .funcs .edit-ensupe.disable:hover,
.boxInfo-wrapper table tbody tr .funcs .add-assign.disable:hover,
.boxInfo-wrapper table tbody tr .funcs .edit-assign.disable:hover,
.boxInfo-wrapper table tbody tr .funcs .print.disable:hover {
  color: #919fab;
}
.boxInfo-wrapper table tbody tr .funcs .complete {
  font-size: 12px;
  background-color: #FE6600;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}
.boxInfo-wrapper .btn-wrap {
  margin-top: 20px;
  text-align: right;
}
.boxInfo-wrapper .btn-wrap a {
  font-size: 14px;
  line-height: 14px;
  padding: 10px 17px;
  cursor: pointer;
  color: #3085cd;
  border: 1px solid #3085cd;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
}
.boxInfo-wrapper .btn-wrap a:hover {
  color: #589dd8;
  border: 1px solid #5098d6;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
