/**
 * [transition 动画效果]
 * @param  @t_pto:     all           [属性]
 * @param  @runTime:   0.5s          [运行时间]
 * @param  @deleyTime: 0s            [延迟时间]
 * @param  @runFun:    ease;         [运行方式]
 */
/**
 * a标签hover样式
 * @font_color: 字体颜色
 * @ahover_darken: 字体hover颜色加深百分比
 */
/* 
 * 通用按钮hover
 * @bg_color: 按钮颜色
 * @hover_darken: 按钮hover颜色加深百分比
 */
/* 
 * 通用按钮样式
 * @bg_color: 按钮颜色 默认#6fd1de（浅蓝色）
 * @padding_tb: 按钮padding-top padding-bottom
 * @padding_lr: 按钮padding-left padding-right
 * @hover_darken: 按钮hover颜色加深百分比
 */
#order-choose .order-content {
  padding: 80px 150px;
}
#order-choose .order-content .docks {
  line-height: 33px;
}
#order-choose .order-content .docks .title {
  margin-left: 10px;
  color: #697886;
  width: 200px;
  text-align: right;
  margin-right: 25px;
  float: left;
}
#order-choose .order-content .docks #docks-selector {
  line-height: 40px;
  float: left;
  font-size: 16px;
}
#order-choose .order-content .choose_type {
  margin-top: 60px;
  padding-left: 115px;
}
#order-choose .order-content .choose_type .choose_wrap {
  float: left;
  text-align: center;
  margin-left: 15px;
}
#order-choose .order-content .choose_type .choose_wrap a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 140px;
  font-size: 26px;
  height: 140px;
  width: 140px;
  background: #eee;
  padding: 0!important;
  border: 5px solid #eee;
  color: #999;
}
#order-choose .order-content .choose_type .choose_wrap a.current {
  background: #6fd1de;
  color: #fff;
  border: 5px solid #2983cf;
}
#order-choose .order-content .choose_type .choose_wrap a.disable {
  cursor: no-drop;
}
#order-choose .order-content .choose_type .choose_wrap a#choose-in {
  margin-left: 93px;
}
#order-choose .order-content .btn-wrap {
  text-align: center;
  margin-top: 60px;
  width: 100%;
}
#order-choose .order-content .btn-wrap a {
  width: 250px;
  position: static!important;
  background: #2983cf;
}
