.select-box {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #caced2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o--border-radius: 4px;
  z-index: 1;
}
.select-box .selected {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.select-box .selected .selected-text {
  display: block;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select-box .selected .select-box-icon-drop {
  position: absolute;
  width: 8px;
  height: 4px;
  display: inline-block;
  right: 0px;
  top: 50%;
  margin-top: -2px;
}
.select-box .selected .select-box-icon-drop.down {
  background: url('/static/common/static/image/select_arrow_down.png?__sprite');
}
.select-box .selected .select-box-icon-drop.up {
  background: url('/static/common/static/image/select_arrow_up.png?__sprite');
}
.select-box .select-option {
  display: none;
  width: 100%;
  position: absolute;
  left: -1px;
  background-color: #fff;
  border: 1px solid #caced2;
  border-top: 0px;
  top: 29px;
  border-radius: 0px 0px 4px 4px;
  overflow-x: hidden;
  overflow-y: auto;
}
.select-box .select-option li {
  border-top: 1px solid #D0DCE9;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  overflow: hidden;
}
.select-box .select-option li a {
  display: block;
  color: #575C5B;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select-box .select-option li:hover {
  background-color: #EDF2FB;
}
.select-box .select-option li.active {
  background-color: #4680d4;
}
.select-box .select-option li.active a {
  color: #fff;
}
