/**
 * [transition 动画效果]
 * @param  @t_pto:     all           [属性]
 * @param  @runTime:   0.5s          [运行时间]
 * @param  @deleyTime: 0s            [延迟时间]
 * @param  @runFun:    ease;         [运行方式]
 */
/**
 * a标签hover样式
 * @font_color: 字体颜色
 * @ahover_darken: 字体hover颜色加深百分比
 */
/* 
 * 通用按钮hover
 * @bg_color: 按钮颜色
 * @hover_darken: 按钮hover颜色加深百分比
 */
/* 
 * 通用按钮样式
 * @bg_color: 按钮颜色 默认#6fd1de（浅蓝色）
 * @padding_tb: 按钮padding-top padding-bottom
 * @padding_lr: 按钮padding-left padding-right
 * @hover_darken: 按钮hover颜色加深百分比
 */
#user-account-security .user-content dl {
  padding-top: 105px;
}
#user-account-security .user-content dl .title {
  margin-left: 180px;
}
#user-account-security .user-content dl .content .info {
  line-height: 40px;
  margin-right: 30px;
  width: 150px;
}
#user-account-security .user-content dl .content .change-link {
  color: #2983cf;
}
#user-account-security .select-popup {
  display: block;
  width: 330px;
  height: 330px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
