/**
 * [transition 动画效果]
 * @param  @t_pto:     all           [属性]
 * @param  @runTime:   0.5s          [运行时间]
 * @param  @deleyTime: 0s            [延迟时间]
 * @param  @runFun:    ease;         [运行方式]
 */
/**
 * a标签hover样式
 * @font_color: 字体颜色
 * @ahover_darken: 字体hover颜色加深百分比
 */
/* 
 * 通用按钮hover
 * @bg_color: 按钮颜色
 * @hover_darken: 按钮hover颜色加深百分比
 */
/* 
 * 通用按钮样式
 * @bg_color: 按钮颜色 默认#6fd1de（浅蓝色）
 * @padding_tb: 按钮padding-top padding-bottom
 * @padding_lr: 按钮padding-left padding-right
 * @hover_darken: 按钮hover颜色加深百分比
 */
#change-content .header-content {
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  font-family: 'Microsoft YaHei';
  background: #f7f7f7;
  -webkit-box-shadow: #e1e1e1 2px 2px 4px;
  -moz-box-shadow: #e1e1e1 2px 2px 4px;
  box-shadow: #e1e1e1 2px 2px 4px;
  border-bottom: #e1e1e1;
  border-right: #e1e1e1;
  padding-left: 20px;
}
#change-content .change-phone-content {
  width: 1240px !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #fff;
  width: 980px;
  margin-top: 20px;
  padding-bottom: 35px;
  min-height: 600px;
}
#change-content .change-phone-content .nav-bar {
  width: 1240px;
  height: 40px;
  margin: 0 auto;
  background-color: #eff4f7;
}
#change-content .change-phone-content .nav-bar ul {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#change-content .change-phone-content .nav-bar ul li {
  height: 38px;
  padding: 0;
  width: 249px;
  float: left;
  text-align: center;
  border: solid 1px #d8dfe4;
  line-height: 36px;
  background-color: #ffffff;
}
#change-content .change-phone-content .nav-bar ul li i {
  background: url('/static/index/static/image/circle.png?__sprite') no-repeat;
  float: left;
  height: 20px;
  width: 20px;
  margin-top: 9px;
  margin-right: 5px;
  margin-left: 85px;
}
#change-content .change-phone-content .nav-bar ul li span {
  float: left;
}
#change-content .change-phone-content .nav-bar ul .current {
  border: solid 1px #2898e5;
  background-color: #2898e5;
  color: #ffffff;
}
#change-content .change-phone-content .nav-bar ul .current i {
  background: url('/static/index/static/image/circle-white.png?__sprite') no-repeat;
  float: left;
  height: 20px;
  width: 20px;
  margin-top: 9px;
  margin-right: 5px;
  margin-left: 85px;
}
#change-content .change-phone-content .nav-bar ul .finshed i {
  background: url('/static/index/static/image/finshed.png?__sprite') no-repeat;
  float: left;
  height: 20px;
  width: 20px;
  margin-top: 9px;
  margin-right: 5px;
  margin-left: 85px;
}
#change-content .change-phone-content .step {
  width: 100%;
  min-height: 400px;
  margin-top: 80px;
  text-align: center;
}
#change-content .change-phone-content .step dl {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 50px;
}
#change-content .change-phone-content .step dl dd {
  margin-bottom: 50px;
  font-size: 18px;
}
#change-content .change-phone-content .step dl dd .title {
  float: left;
  margin-left: 200px;
  color: #697886;
  height: 40px;
  width: 200px;
  text-align: right;
  margin-right: 25px;
  line-height: 40px;
}
#change-content .change-phone-content .step dl dd .content {
  line-height: 40px;
  float: left;
  margin-left: 45px;
}
#change-content .change-phone-content .step dl dd .content .a {
  width: 130px;
  height: 40px;
  text-align: center;
}
#change-content .change-phone-content .step dl dd .content input {
  float: left;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  padding: 8px;
  width: 350px;
  margin-right: 20px;
}
#change-content .change-phone-content .step dl dd .content .tip {
  display: block;
  height: 40px;
  width: 350px;
  text-align: left;
  font-size: 14px;
  color: #697886;
}
#change-content .change-phone-content .step dl dd .content .red {
  color: red;
}
#change-content .change-phone-content .step .next-step {
  margin-top: 40px;
  float: none!important;
  margin-left: 0!important;
  width: 200px;
}
#change-content .change-phone-content .step #step-one-pass span {
  margin: 0 10px;
  color: #c1d657;
}
#change-content .change-phone-content .step #step-one-sms input {
  width: 190px;
}
#change-content .change-phone-content .step #step-one-sms .user-btn {
  background-color: #c1d657;
  float: left;
  margin-left: 115px;
}
#change-content .change-phone-content .step #step-two input {
  width: 190px;
}
#change-content .change-phone-content .step #step-two .user-btn {
  background-color: #c1d657;
}
#change-content .change-phone-content .step #step-three i {
  background: url('/static/index/static/image/finshed.png?__sprite') no-repeat;
  float: left;
  height: 20px;
  width: 20px;
  margin-top: 9px;
  margin-right: 5px;
  margin-left: 85px;
}
#change-content .change-phone-content .step #step-three .next-step {
  background-color: #fe6700;
}
