#sidebar {
  width: 240px;
  background: #4a5864;
  height: 100%;
  position: absolute;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#sidebar .logo {
  width: 240px;
  cursor: pointer;
  height: 80px;
  display: block;
  background: #37414a;
}
#sidebar .logo img {
  width: 50%;
  margin-left: 24%;
  margin-top: 21px;
}
#sidebar ul .first {
  color: #91a0ad;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  border-bottom: 1px solid #5c6974;
}
#sidebar ul .second {
  color: #c7d4e0;
  padding-left: 40px;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #5c6974;
  box-sizing: border-box;
}
#sidebar ul .second i.icon {
  margin-right: 8px;
}
#sidebar ul .second i.icon-arraw {
  float: right;
  margin-right: 15px;
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  border-radius: 20px;
  opacity: 0.5;
  background: #37414a;
  margin-top: 20px;
}
#sidebar ul .second:hover {
  color: #fff;
  background: #43505b;
}
#sidebar ul .second.active {
  background: #6ad1df;
  color: #fff;
  border: none;
}
#sidebar ul .second.active i.icon-arraw {
  opacity: 0.2;
}
#sidebar ul .second.active :hover {
  color: #fff;
  background: #6ad1df;
}
#sidebar ul .second.hasChild {
  cursor: auto;
}
#sidebar ul .second.hasChild:hover {
  color: #c7d4e0;
  background: #4a5864;
}
#sidebar ul .third {
  border-left: 6px solid #6ad1df;
  background: #37414a;
  padding: 15px 0;
  overflow: hidden;
}
#sidebar ul .third li {
  padding-left: 40px;
  height: 40px;
  line-height: 40px;
  color: #7d8b97;
  font-size: 14px;
  cursor: pointer;
}
#sidebar ul .third li i.link {
  float: left;
  margin-right: 5px;
  box-sizing: border-box;
  border-left: 2px solid #7d8b97;
  border-bottom: 2px solid #7d8b97;
  height: 40px;
  width: 20px;
  margin-top: -20px;
}
#sidebar ul .third li i.icon {
  font-size: 13px;
  float: left;
  margin-right: 5px;
}
#sidebar ul .third li:hover {
  color: #fff;
}
#sidebar ul .third li.active {
  color: #fff;
}
