.select_time_year {
  float: left;
}
.select_time_month,
.select_time_day,
.select_time_hour,
.select_time_min,
.select_time_sec {
  float: left;
  margin-left: 10px;
}
.select_year_text,
.select_month_text,
.select_day_text,
.select_hours_text,
.select_min_text,
.select_sec_text {
  float: left;
  margin-left: 30px;
}
