.user-detail {
  display: -webkit-box;
  display: box;
}
.user-detail .wrap-left {
  -webkit-box-flex: 1;
  box-flex: 1;
  padding: 0 15px;
  border-right: 1px solid #e2e7e7;
}
.user-detail .wrap-right {
  -webkit-box-flex: 1;
  box-flex: 1;
  padding: 0 15px;
}
.user-detail dl dd {
  font-size: 14px;
  line-height: 30px;
}
.user-detail dl dd .title {
  width: 100px;
  text-align: right;
  padding-right: 20px;
  float: left;
}
.user-detail dl dd .content {
  text-align: left;
  margin-left: 100px;
}
.user-detail dl dd .content img {
  height: 100px;
}
